﻿@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customers.Count > 5 ? "Popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>


@if (Model.Customers.Count == 0)
{
    <text>No one Has been rented this movie before.</text>
}

else
{

    <ul>
    
        @foreach (var customer in Model.Customers)
        {
            <li>
                @customer.Name
            </li>
        }

    </ul>

}




